<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>Portfólio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/profile.jpg" alt="Foto do Vinicius">
            <h1>Vinicius Rubia</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.facebook.com/vinicius.rubia.9" target="_blank">
                    <i class="bi bi-facebook"></i>
                 </a>
                 <a href="https://www.instagram.com/vinicius_rubia/" target="_blank">
                    <i class="bi bi-instagram"></i>
                 </a>
                 <a href="https://github.com/Vinicius-Rubia" target="_blank">
                    <i class="bi bi-github"></i>
                 </a>
                 <a href="https://www.linkedin.com/in/vinicius-rubia-149ab0213/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                 </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio">
                       <i class="bi bi-house" aria-hidden="true"></i> Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person" aria-hidden="true"></i> Sobre
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check" aria-hidden="true"></i> Habilidades
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="bi bi-collection" aria-hidden="true"></i> Portfólio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope" aria-hidden="true"></i> Contato
                    </a>
                </li>
            </ul>
        </nav>

    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
               <h2 class="text-white text-shadow">Vinicius Rubia</h2>
               <span id="subtitle" class="text-white text-shadow">Programador</span>
            </div>
   
            <div class="col-md-7 d-flex justify-content-end align-items-end">
               <div id="arraste" class="d-flex align-items-center">
                  <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                  <a href="#sobre">Arraste para mais</a>
               </div>
            </div>
         </section>

         <section class="container mt-5" id="sobre">
            <div class="row w-100">
               <div class="col-md-12" data-animate="down">
                <h2 class="pt-3">Sobre</h2>
                  <p>Acredito no poder que tem a tecnologia hoje e como ela vem crescendo 
                    ao decorrer do anos. Cada vez mais linguagens surgindo, mais possibilidades 
                    de escrever código de diferentes maneiras e também como vão surgindo mais 
                    linguagens com melhores desempenhos, empresas tendem a "depreciar" digamos
                    assim, a linguagems usadas anteriormente. A tecnologia se evoluir pedindo
                    a nós programadores a acompanhar esse fluxo.
                  </p>
               </div>
            </div>
   
            <div class="row mt-4">
               <div class="col-md-4">
                  <img class="img-fluid shadow" src="../static/img/photo.jpg" 
                  alt="Foto do Vinicius" data-animate="left">
               </div>
               <div class="col-md-8" data-animate="right">
                  <h3>Programador Web Front-end</h3>
                  <p>Atualmente pretendo ser um Progmador Web Front-end mas me interesso 
                     bastante me full stack. Principalmente estudando JavaScript no
                     front-end e no back-end com banco de dados. 
                  </p>
   
                  <div class="row mt-3 mb-3">
                     <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                           <li class="list-group-item">
                              Niver: <span class="fw-lighter">05 de Setembro de 2003</span>
                           </li>
                           <li class="list-group-item">
                              Idade: <span class="fw-lighter">18 anos</span>
                           </li>
                           <li class="list-group-item">
                              Cidade: <span class="fw-lighter">Francisco Morato</span>
                           </li>
                           <li class="list-group-item">
                              Estado: <span class="fw-lighter">São Paulo</span>
                           </li>
                         </ul>
                     </div>
                     <div class="col-md-6">
                        <ul class="list-group list-group-flush fs-5">
                           <li class="list-group-item">
                              Hobby: <span class="fw-lighter">Video-game</span>
                           </li>
                           <li class="list-group-item">
                              Tempo na área: <span class="fw-lighter">+ 1 ano</span>
                           </li>
                           <li class="list-group-item">
                              Ocupação: <span class="fw-lighter">Estudante</span>
                           </li>
                           <li class="list-group-item">
                              Idiomas: <span class="fw-lighter">Inglês básico</span>
                           </li>
                         </ul>
                     </div>
                  </div>
                  <p>Essa área da programação tem sido meu desejo constante de conseguir me 
                     tornar um programador profissional, sempre acompanho aulas em cursos,
                     aulas no youtube, procurando dicas em blogs aprendendo a usar a documentação
                     e tentando ingressar na faculdade em Ciência da Computação, onde pretendo
                     me graduar.
                  </p>
               </div>
            </div>
         </section>

         <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
               <h2 class="pt-5">Habilidades</h2>
               <p>Em todo tempo que estudo programação adquiri algumas habilidades, e elas
                  estão aqui de acordo com a porcentagem que acredito que eu tenha 
                  conhecimento sobre elas.
               </p>
   
               <div class="row">
                  <div class="col-md-6">
                     <p class="mt-3 mb-0">HTML</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left"
                           style="width: 95%;" aria-valuenow="95" aria-valuemin="0" 
                           aria-valuemax="100">95%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">CSS</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left"
                           style="width: 85%;" aria-valuenow="85" aria-valuemin="0" 
                           aria-valuemax="100">80%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">JavaScript</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 80%;" aria-valuenow="80" aria-valuemin="0" 
                           aria-valuemax="100">80%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">Node.js (Express)</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left"
                           style="width: 98%;" aria-valuenow="98" aria-valuemin="0" 
                           aria-valuemax="100">75%
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <p class="mt-3 mb-0">MySQL</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 90%;" aria-valuenow="90" aria-valuemin="0" 
                           aria-valuemax="100">90%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">SQL Server</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 70%;" aria-valuenow="70" aria-valuemin="0" 
                           aria-valuemax="100">70%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">Bootstrap</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 70%;" aria-valuenow="70" aria-valuemin="0" 
                           aria-valuemax="100">70%
                        </div>
                     </div>
                     <p class="mt-3 mb-0">Git</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 70%;" aria-valuenow="70" aria-valuemin="0" 
                           aria-valuemax="100">70%
                        </div>
                     </div>
                  </div>
               </div>
   
               <hr class="w-50 me-auto ms-auto">
   
               <div class="row">
                  <div class="col-md-6">
                     <p class="mt-3 mb-0">Trabalho em equipe</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 95%;" aria-valuenow="95" aria-valuemin="0" 
                           aria-valuemax="100">95%
                        </div>
                     </div>
   
                     <p class="mt-3 mb-0">Proatividade</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 80%;" aria-valuenow="80" aria-valuemin="0" 
                           aria-valuemax="100">80%
                        </div>
                     </div>
   
                     <p class="mt-3 mb-0">Orientação a detalhes</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 90%;" aria-valuenow="90" aria-valuemin="0" 
                           aria-valuemax="100">90%
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <p class="mt-3 mb-0">Comunicação</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 100%;" aria-valuenow="100" aria-valuemin="0" 
                           aria-valuemax="100">100%
                        </div>
                     </div>
   
                     <p class="mt-3 mb-0">Empatia</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 95%;" aria-valuenow="95" aria-valuemin="0" 
                           aria-valuemax="100">95%
                        </div>
                     </div>
   
                     <p class="mt-3 mb-0">Comprometimento</p>
                     <div class="progress">
                        <div class="progress-bar" role="progressbar" data-animate="left" 
                           style="width: 97%;" aria-valuenow="97" aria-valuemin="0" 
                           aria-valuemax="100">97%
                        </div>
                     </div>
                  </div>
               </div>
   
            </div>
            
         </section>
   
         <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
               <h2 class="pt-3 pb-4">Currículo</h2>
               <div class="row">
                  <div class="col-md-6">
                     <h3 class="cv-title"> Principais Cursos</h3>
   
                     <div class="cv-item" data-animate="up">
                        <h4>JavaScript do Básico ao Avançado</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Udemy</em></p>
                        <p>Curso onde aprendi muita coisa sobre o JS como: classes, métodos,
                           funções, objetos, manipulação de arrays e muito mais coisas. Tudo 
                           contribuindo para o desenvolvimento Web.
                        </p>
                     </div>
   
                     <div class="cv-item" data-animate="up">
                        <h4>Introdução ao Node.js com Express</h4>
                        <h5>2022 - 2022</h5>
                        <p><em>Digital Innovation One</em></p>
                        <p>Curso no qual fizemos um projeto com express que permitiu
                            me evoluir no back-end, aprendendo sobre request e responsee
                            (req, res) e também noção sobre rotas.
                        </p>
                     </div>

                     <div class="cv-item" data-animate="up">
                        <h4>Introdução ao Git e Github</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Digital Innovation One</em></p>
                        <p>Nesse curso volta ao git aprendi como usamos e fazemos as issues,
                            os forks, clonar repositórios, criar repositórios e comandos de git.
                            Isso me permitiu conseguir versionar meu código contribuindo para 
                            o Github.
                        </p>
                     </div>

                     <div class="cv-item" data-animate="up">
                        <h4>Banco de Dados MySQL</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Digital Innovation One</em></p>
                        <p>Curso voltado ao banco de dados onde aprendi sobre relacionamento
                            entre tabelas, junção de tabelas, como funciona um banco de dados,
                            um SGBD e como utilizar os principais comando como: 
                            CREATE, DROP, DELETE, SELECT e etc...
                        </p>
                     </div>
   
                  </div>
                  <div class="col-md-6">
                     <h3 class="cv-title">Educação</h3>
   
                     <div class="cv-item" data-animate="up">
                        <h4>Ensino Médio</h4>
                        <h5>Concluido em 2021</h5>
                        <p><em>E.E Profª Lydia Scarlet Walker</em></p>
                        <p>Ensio médio completo</p>
                     </div>
   
                     <div class="cv-item" data-animate="up">
                        <h4>Análise e Desenvolvimento de Sistemas.</h4>
                        <h5>2020 - 2021</h5>
                        <p><em>Etec Dr. Emílio Hernandez Aguilar</em></p>
                        <p>Curso técnico voltado a programação com várias linguagens
                           como: PHP, HTML, CSS, Java entre outros com uma carga
                           horária de 1500 horas.
                        </p>
                     </div>                     
                  </div>
               </div>
            </div>
         </section>
   
         <section class="mt-5 section-bg" id="portfolio">
            <div class="container pb-5 pt-5" data-animate="left">
               <h2 class="pb-4">Portfólio</h2>
   
               <div id="carouselPortfolio" class="carousel carousel-dark slide" 
               data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" 
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                     aria-label="Slide 2"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                      
                     <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/iMovi.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">iMovi</h5>
                              <p class="card-text">
                                  Projeto iMovi desenvolvido com HTML, CSS e Bootstrap.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/Bootstrap-iMovi" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/whatsapp.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Clone Whatsapp</h5>
                              <p class="card-text">
                                  Projeto de Clone de Whatsapp foi desenvolvido apenas com
                                  HTML, CSS.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/Clone-WhatsDesktop" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/apiCep.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">API de CEP</h5>
                              <p class="card-text">
                                  Esse projeto de API de CEP foi criado com HTML, CSS 
                                  e JavaScript.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/API-CEP" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
   
                    </div>
   
                    <div class="carousel-item" data-bs-interval="2000">
                     <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/crudJs.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">CRUD com JavaScript</h5>
                              <p class="card-text">
                                  Projeto de CRUD criado com JavaScript, HTML e CSS.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/CRUD-JS" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/netflix.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Clone Netflix</h5>
                              <p class="card-text">
                                  Projeto Clonando a Netflix criado com HTML, CSS e JavaScript.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/Clone-Netflix" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card">
                            <img src="../static/img/todoList.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">To do List</h5>
                              <p class="card-text">
                                  Projeto To do List desenvolvido com HTML, CSS e JavaScript.
                              </p>
                              <div class="d-flex justify-content-center">
                                <a href="https://github.com/Vinicius-Rubia/TodoList" 
                                target="_blank" class="btn btn-outline-dark me-3">
                                    <i class="bi bi-github"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                  </div>
                  <button class="carousel-control-prev" type="button" 
                  data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" 
                  data-bs-target="#carouselPortfolio" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            </div>
         </section>
   
         <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5">
               <h2 class="pt-3 pb-3">Contato</h2>
   
               <div class="row">
                  <div class="col-md-5 shadow">
                     <div class="card p-5 border-0" data-animate="up">
                        <div class="endereco">
                           <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                           <p>Francisco Morato, SP</p>
                        </div>
                        <div class="email">
                           <h4><i class="bi bi-envelope"></i> Email:</h4>
                           <p>lucas.de.oliveira.rubia1@gmail.com</p>
                        </div>
   
                        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58641.027746445536!2d-46.763114276937195!3d-23.27711559594975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cee6e07ae50819%3A0x96c402050d2dd76a!2sFrancisco%20Morato%2C%20SP!5e0!3m2!1spt-BR!2sbr!4v1644085715175!5m2!1spt-BR!2sbr" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                     </div>
                  </div>
   
                  <div class="col-md-7 mt-5 mt-md-0 shadow">
                     <div class="card p-5 h-100 border-0" data-animate="left">
   
                        <form class="row g-3" action="/send" method="POST">
                           <div class="col-md-6">
                             <label for="nome" class="form-label">Nome:</label>
                             <input type="text" class="form-control" id="nome" 
                             name="nome" placeholder="Digite seu nome" required>
                           </div>
                           <div class="col-md-6">
                             <label for="email" class="form-label">Email:</label>
                             <input type="email" class="form-control" id="email"
                             name="email" placeholder="Digite seu email" required>
                           </div>
   
                           <div class="col-12">
                             <label for="mensagem" class="form-label">Mensagem:</label>
                             <textarea type="text" class="form-control" id="mensagem" 
                             placeholder="Digite sua mensagem" rows="15"
                             name="mensagem" required></textarea>
                           </div>
                           <div class="col-12 d-flex justify-content-center mt-4">
                             <button id="btn-enviar" type="submit"
                             class="btn btn-primary">Enviar mensagem</button>
   
                             <button id="btn-enviar-loader" class="btn btn-primary" type="button" 
                              disabled>
                             <span class="spinner-border spinner-border-sm" role="status" 
                              aria-hidden="true"></span> Enviando...
                           </button>
                           </div>
                         </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         {% with messages = get_flashed_messages() %}
         {% if messages %}
         {% for message in messages %}
         <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
         </div>
         {% endfor %}
         {% endif %}
         {% endwith %}

    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>